:root {
  --maroon: #a4243bff;
  --secondary: #d8c99bff;
  --l-orange: #d8973cff;
  --d-orange: #bd632fff;
  --black: #121619ff;
}

a, a:visited{
  color: var(--d-orange);
  text-decoration: none;
}

body{
  font-family: 'Dosis', sans-serif;
  background-color: var(--d-orange);
}

.background-primary{
  background-color: var(--maroon);
}

.background-secondary{
  background-color: var(--secondary);
}

.background-tertiary{
  background-color: var(--l-orange);
}

.background-light{
  background-color: var(--d-orange);
}

.background-dark{
  background-color: var(--black);
}

.color-primary{
  color: var(--maroon);
}

.color-secondary{
  color: var(--secondary);
}

.color-tertiary{
  color: var(--l-orange);
}

.color-light{
  color: var(--d-orange);
}

.color-dark{
  color: var(--black);
}

/* component styling */

header{
  border-bottom: solid 6px var(--secondary);
}

footer{
  border-top: solid 6px var(--secondary);
}

.img-rounded{
  border-radius: 50%;
  width: 400px;
  height: auto;
  border: solid 6px var(--black);
}

.navigation-active{
  color: var(--d-orange);
  font-weight: bolder;
  font-size:large;
}

.navigation-item{
  cursor: pointer;
}