* {
  box-sizing: border-box;
}

:root {
  --primary: #a4243bff;
  --secondary: #d8c99bff;
  --tertiary: #d8973cff;
  --light: #bd632fff;
  --dark: #121619ff;
}

a, a:visited{
  color: var(--light);
  text-decoration: none;
}

a:hover{
  color: var(--secondary)
}

main{
  width: 100vh;
}

body{
  font-family: 'Dosis', sans-serif;
  background-color: var(--light);
}

.background-primary{
  background-color: var(--primary);
}

.background-secondary{
  background-color: var(--secondary);
}

.background-tertiary{
  background-color: var(--tertiary);
}

.background-light{
  background-color: var(--light);
}

.background-dark{
  background-color: var(--dark);
}

.color-primary{
  color: var(--primary);
}

.color-secondary{
  color: var(--secondary);
}

.color-tertiary{
  color: var(--tertiary);
}

.color-light{
  color: var(--light);
}

.color-dark{
  color: var(--dark);
}

ul{
  list-style: none;
}

/* component styling */

header{
  border-bottom: solid 6px var(--secondary);
}

footer{
  border-top: solid 6px var(--secondary);
}

.resize {
  border: 3px;
  border-style: solid;
  border-color: var(--secondary);
  border-radius: 5px;
  width: 400px;
  height: auto;
}

.navigation-active{
  color: var(--light);
  font-weight: bolder;
  font-size:large;
}

.navigation-item{
  cursor: pointer;
}